* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* root colours */

:root {
    --green-light: #4D96A9;
    --green-btn-hover: #71C0D4;
    --purple-light: #d9b8ff;
    --blue-light: #8fe3f9;
    --purple-dark: #855fb1;
    --blue-dark: #28283d;
    --gray: #87879d;
    --white: #fafafa;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1815px;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
}

/* This class sets the  font size, font-weight and line-height for both paragraphs and buttons */
.font{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

p{
    color: var(--gray);
}

h1 {
    font-size: 64px;
    text-align: center;
    line-height: 64px;
    font-weight:900;
}

h2{
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 1815px;
    overflow: hidden; /* Hide the images that overflow the boundaries of the main container */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px 0 55px 0;
    width: 1504px;
}

#meet {
    width: 119px;
    height: 28px;
}

header {
    display: flex;
    justify-content: center;
    width: 1504px;
    height: 358px;
}

#profile-photo-left-side img,
#profile-photo-right-side img {
    display: block;
}

#profile-photo-left-side img{
    padding-right: 10px;
}

#profile-photo-right-side {
    margin-top: 55px;
}

#group-chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 540px;
    height: 304px;
    margin: 55px 80px 0 80px;
}

.heading-group {
    width: 445px;
    height: 128px;
}

.paragraph-group {
    width: 540px;
    height: 52px;
    margin: 27.5px 0 27.5px 0;
    text-align: center;
}

/* General button styles */
.btn-container {
    display: flex;
    flex-direction: row;
    width: 348px;
    height: 58px;
}

.download{
    padding-right: 16px;
}

.btn-download, .what button, .btn-footer button {
    width: 193px;
    height: 58px;
    border-radius: 35px;
    cursor: pointer;
}

.download button {
    background-color: var(--green-light); /* Background color for the button in the header section */
}

.download button:hover {
    background-color: var(--green-btn-hover);
}

.what button {
    background-color: var(--purple-dark);
    width: 139px;
}

.what button:hover, .btn-footer button:hover {
    background-color: var(--purple-light); /* The hover method is applied to both the btn-what and btn-footer buttons */
}

.btn-footer {
    width: 193px;
}

.btn-footer button {
    background-color: var(--purple-dark);
}

/* Text colors */
.download-text, .what-text, .version-text-purple {
    color: var(--white);
}

.version-text {
    color: var(--blue-light);
}

/* 
section container images */
#container-images{
    margin-top: 110px;
    width: 1110px;
    height: 446px;
}

.circle-number-one{
    height: 204px;
    width: 56px;
    margin: 0 auto;

}
.vertical-line{
   text-align: center;
   height: 86px;
}
line{
    stroke:#87879d;
    stroke-width:0.5px;
    height:100%;
}
.number{
    text-align: center;
    width: 56px;
    height: 56px;
    border: 0.5px solid #87879d;
    border-radius: 50%;
    background-color: var(--white);
}

.number p{
    margin-top: 15px;
    font-weight: 800;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 242px;

}

.photo-one, .photo-two, .photo-three, .photo-four{
    width: 255px;
    height: 100%;
    
}

.image-size{
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

#smarter-meetings-container {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    width: 1110px;
    height: 532px;
}

.smarter-meeting-sub-contaneir{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 540px;
    height: 452px;
    position: relative;
}

.text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    margin-bottom: 72px;
}

.upper-case{
    color: var(--green-light);
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    word-spacing: 4px;
    text-align: center;
}

.lower-case{
    text-align: center;
    font-weight: 600;
    line-height: 26px;
    padding: 0 38px 0 38px;
}

.circle-number-two {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 212px;
    width: 56px;
    position: absolute; 
    z-index: 2;
    bottom: -28px; 
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 308px;
    position: relative; /* ou absolute, se necessário */
    z-index: 1;
    background-image:         
    linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), 
    url('../assets/desktop/image-footer.jpg');
    background-size:cover;
    background-position: center;
}

.footer-subcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 1110px;
    height: 88px;
}

.experience{
    color: var(--white);
    width: 350px;

}
.text-footer{
    padding: 0 25px 0 25px;
    width: 350px ;
}

.text-footer p{
color: var(--white);
}

